/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Vu Minh Ha
  ID: s3978681
  Acknowledgement: Acknowledge the resources that you use here. */

main>div {
    margin: 0 140px;
}
.content img {
    border: solid black;
}
.image-supplement img{
    height: calc(479px/3 - 10px);
}
.image-supplement img:hover {
    transform: scale(1.8);
    box-shadow: 20px 20px 5px rgba(190, 190, 190, 0.687);
}
.content {
    display: flex;
    justify-content: space-between;
}
.image-supplement {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price {
    font-size: 36px;
    font-weight: bold;
    color: navy;
    margin-left: 20px;
}
button {
    height: 55px;
    width: 200px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    background-color: rgb(238, 174, 56);
    cursor: pointer;
}
button:hover {
    background-color: rgba(238, 174, 56, 0.732);
}
.images {
    display: flex;
    gap: 30px;
    height: 479px;
}
.image-main {
    width: 479px;
    height: calc(479px - 2px);
}
.right-side {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
}
.breadcrumb {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.description {
    margin-top: 20px;
}
.description h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #20615B;
}
.description p {
    margin-bottom: 10px;
}
hr {
    margin: 70px 140px;
}
.author img {
    border-radius: 50%;
    height: 20%;
    width: 20%;
}
.author {
    display: flex;
    border: solid;
    padding: 16px;
    background-color: #E6EFE1;
    margin-bottom: 150px;
}
.author div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}
.author div p {
    text-align: justify;
}
.author h2 {
    color: #20615B;
}
@media screen and (max-width: 1247px) {
    .content {
        margin: 30px;
    }
}
@media screen and (max-width: 1000px){
    .image-main,
    .image-supplement {
        width: 50%;
    }
}
@media screen and (max-width: 960px){
    nav ul {
        background: #E6EFE1;
        border: solid #8b8a8a;
    }
    nav ul li::after {
        background: white;
    }
    .content {
        flex-direction: column;
        margin-left: 30px;
    }
    .images {
        flex-direction: column;
        width: 90%;
        height: max-content;
    }
    .image-main {
        width: 100%;
    }
    .image-supplement {
        width: 100%;
        flex-direction: row;
    }
    .image-supplement img {
        width: calc(100%/3 - 10px);
    }
    .description {
        margin-top: 70px;
    }
    main>div {
        margin: 0 30px;
    }
    .right-side {
        align-items: center;
    }
}
