/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Vu Minh Ha
  ID: s3978681
  Acknowledgement: Acknowledge the resources that you use here. */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
body {
    font-size: 100%;
}
header, footer ul{
    background: rgb(191, 170, 142);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 30px;
}
nav {
    font-size: 18px;
} 
footer ul{
    justify-content: flex-end;
}
header a,
footer a {
    text-decoration: none;
    color: black;
}
nav ul,
footer ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
#bookstore-logo {
    height: 50px;
}
nav ul li {
    position: relative;
}
nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #E4E9BE;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after {
    width: 100%;
}
#burger-menu {
    width: 40px;
    height: 40px;
    display: none;
    position: relative;
}
.social-media {
    text-align: center;
}
.social-media img {
    width: 40px;
    margin: 0 10px;
}
@media screen and (max-width: 960px) {
    nav {
        display: flex;
        flex-direction: column;
        height: max-content;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 250px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        gap: 25px;
        background: #fff;
        padding: 15px 24px 24px 24px;
        border: solid #8b8a8a;
    }
    nav {
        display: none;
    }
    #burger-menu {
        display: block;
    }
    #burger-menu:hover+nav{
        display: block;
    }
    nav:hover {
        display: block;
    }
}