body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
    background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  }

.book {
    transform-style: preserve-3d;
    position: relative;
    height: 200px;
    backface-visibility: visible;
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    border-radius: 2px 4px 4px 2px;
    transform-style: preserve-3d;
    /* background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%); */
  }
.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 220px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
    transform: rotateY(-20deg) translateZ(-20px);
}
  
.front, .back {
    background: blue;
    /* display: block; */
    /* position: absolute; */
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    /* box-shadow: 10px 12px 20px 13px rgba(0, 0, 0, 0.3); */
}

.front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}
  
.back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}
  
.page1 { 
    background: navy;
}
  
.page2 {
    background: navy;
}
  
.page3 {
    background: navy;
}
  
.page4 {
    background: #f5f5f5;
}
  
.page5 {
    background: #fafafa;
}
  
.page6 {
    background: navy;
}
img {
    max-width: 100%;
    height: 200px;
}
.page {
    width: calc(100% - 20px);
    height: calc(100% - 2px);
    position: absolute;
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.2),
      inset -1px 0px 1px rgba(150, 150, 150, 0.1);
    border-radius: 0px 3px 3px 0px;
    transform: rotateY(-20deg) translateZ(-5px);
    right: -3px;
    z-index: 4;
    background: navy;
  }
  
  .page1 {
    height: calc(100% - 4px);
    right: -6px;
    z-index: 3;
  }
  
  .page2 {
    height: calc(100% - 6px);
    right: -9px;
    z-index: 2;
  }
  
  .page3 {
    height: calc(100% - 8px);
    right: -12px;
    z-index: 1;
  }
  
  .page4 {
    height: calc(100% - 10px);
    right: -15px;
    z-index: 0;
  }
  
  .img.final-page {
    position: absolute;
    z-index: -1;
    right: -17px;
    transform: rotateY(-19deg) translateZ(-10px) scale(0.984);
  }
  